<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plexdata.ArgumentParser.NET" version="1.0.0.12" targetFramework="net472" />
  <package id="Plexdata.CfgParser.NET" version="1.0.0.1" targetFramework="net472" />
  <package id="Plexdata.LogWriter.Abstraction" version="1.0.2.4" targetFramework="net472" />
  <package id="Plexdata.LogWriter.Persistent" version="1.0.2.4" targetFramework="net472" />
</packages>